<section class="slider_section">
  <div class="slider_container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/CEKET.webp"
            alt=""
          />
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/GOMLEK.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/JEAN.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/KABAN.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/KAZAK.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/MONT.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/PANTOLON.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/SWEATSHIRT.webp"
            alt=""
          /></div
      ></ng-template>
      <ng-template carouselSlide>
        <div>
          <img
            class="img-fluid"
            src="https://localhost:7281/static/images/category/TSHIRT.webp"
            alt=""
          /></div
      ></ng-template>
    </owl-carousel-o>
  </div>
</section>
