<header class="header_section">
  <nav class="navbar navbar-expand-lg custom_nav-container">
    <a class="navbar-brand">
      <span> Giftos </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="navbarOpen"
      (click)="toggleNavbar()"
      aria-label="Toggle navigation"
    >
      <span class=""></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [class.show]="navbarOpen"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"
            >Anasayfa <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item dropdown" (click)="toggleDropdown()">
          <a
            class="nav-link dropdown-toggle"
            id="categoriesDropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Kategoriler
          </a>
          <div
            class="container dropdown-menu"
            [class.show]="dropdownOpen"
            aria-labelledby="categoriesDropdown"
          >
            <div class="row" *ngIf="categories$ | async as categories">
              <div class="col-3" *ngFor="let category of categories">
                <h4>{{ category.name }}</h4>
                <div *ngIf="subcategories$ | async as subcategories">
                  <div *ngFor="let subcategory of subcategories">
                    <div *ngIf="subcategory.categoryId === category.id">
                      <a
                        class="dropdown-subcategory-name"
                        [routerLink]="['/collection']"
                        [queryParams]="{ subcategoryId: subcategory.id }"
                      >
                        {{ subcategory.name }}
                      </a>
                    </div>
                  </div>
                </div>
                <a
                  [routerLink]="['/collection']"
                  [queryParams]="{ categoryId: category.id }"
                  >Tümünü Gör</a
                >
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="user_option">
        <a [routerLink]="['/account']">
          <i class="fa fa-user" aria-hidden="true" title="Hesap"></i>
        </a>
        <a [routerLink]="['/cart']">
          <i class="fa-solid fa-basket-shopping"></i>
        </a>
        <div *ngIf="isAuthenticated$ | async">
          <i
            class="fa fa-right-from-bracket"
            title="Çıkış Yap"
            (click)="logout()"
          ></i>
        </div>
      </div>
    </div>
  </nav>
</header>
