<div class="sidebar">
  <ul>
    <li [routerLink]="['/admin/dashboard']">
      <i class="fa-solid fa-house"></i>
      Ana Sayfa
    </li>
    <li [routerLink]="['/admin/products']">
      <i class="fa-solid fa-diamond"></i>
      Ürünler
    </li>
    <li [routerLink]="['/admin/categories']">
      <i class="fa-solid fa-layer-group"></i>
      Kategoriler
    </li>
    <li [routerLink]="['/admin/orders']">
      <i class="fa-solid fa-box"></i>
      Siparişler
    </li>
    <li [routerLink]="['/admin/customers']">
      <i class="fa-solid fa-users"></i>
      Kayıtlı Müşteriler
    </li>
  </ul>
</div>
